<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com//docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2>Cadastrar Candidato</h2>
                <form action="/fornecedores/cadastrar" method="POST">
                    <div class="container">
                        <div class="col">
                            <label for="nome">Candidato:</label>
                        </div>
                        <div>
                            <input type="text" id="nome" name="nome" required><br>
                            <label for="telefone">Vice-Candidato:</label>
                        </div>
                        <div>
                            <input type="text" id="telefone" name="telefone" required><br>
                            <label for="revendedor">Chapa:</label>
                        </div>
                        <div>
                            <input type="text" id="revendedor" name="revendedor" required><br>
                            <br>
                            <button type="submit" class="btn btn-info">Adicionar Candidato</button>
                        </div>
                </form>
                <br>
                <a href="/welcome" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
</body>

</html>