<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro de Fornecedores</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-
alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
1CmDO9m5DDmGwlDXdJJMsvZ2Hngs78rUpF8N2Cm34oqwNAzU1/h3tSJfNJm71a1E" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Filtro de Candidato</h2>
        <form action="/fornecedores/filtro" method="POST">
            <label for="nome">Nome do Candidato:</label>
            <input type="text" id="nome" name="nome" required><br><br>
            <button type="submit" class="btn btn-success">Filtrar</button>
    </div>
    </form>
    <a href="/welcome" class="btn btn-secondary">Voltar</a>
</body>

</html>