<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cadastrar Candidatos</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="/css/welcomeadm.css">
   </head>
   <body>

      <header class="header">
         <div class="header-value">
            <!-- <button onclick="window.history.back()" class="button-left"> -->
               <!-- <i onclick="window.history.back()" class="fa-solid text-light fa-chevron-left button-left"></i> -->
            <!-- </button> -->
            <div class="logo-conteiner">
               <h2>Vota Aqui</h2>
               <i class="fa-solid  fa-puzzle-piece"></i>
            </div>
         </div>
      </header>
      <main class="main-conteiner">
         <div class="title-subtitle">
            <h2>Garanta Eleições Transparentes e Seguras </h2>
            <p>Inicie uma eleição faça cadastro de chapas com seus respectivos candidatos ou inicie a votação fazendo liberação de seus eleitores para a democracia.</p>
         </div>
         <div class="conteiner-content">
            <a href="/eleicao" class="card-eleicao">
               <div class="content-card">
                  <i class="fa-solid fa-user"></i>
                  <p>Eleição</p>
               </div>
            </a>
            <a class="card-eleicao">
               <div class="content-card">
                  <i class="fa-solid fa-check-to-slot"></i>
                  <p>Votação</p>
               </div>
            </a>
         </div>
      </main>
   </body>
</html>