@import url('./global.css');

.main-conteiner {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 150px 0;
}
.main-conteiner h2 {
    font-size: 3rem;
    text-align: start;
    width: 80%;
    color: var(--color-text-primary);
    font-weight: 500;
}
.conteiner-content{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
.conteiner{
    width: 100% !important;
}
tbody {
    height: 200px !important;
    overflow-y: scroll !important;
}
.card-eleicao{
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 5px #0000003b;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
}
.card-eleicao:hover{
    background-color: var(--color-secundary-hover);
}
.content-card{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
.content-card i {
    font-size: 4rem;
    color: var(--color-hover-white);
}
.subtitle-page{
    font-weight: 700;
}
.content-card p {
    font-size: 1.5rem;
    color: var(--color-hover-white);
    font-weight: 500;
    text-align: center;
}
.table-responsive {
    margin: 0;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 34px 14px;
    margin: 24px 0;
}
.table-responsive::-webkit-scrollbar {
    width: 4px; 
    height: 4px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 2px;
}
.table-header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding: 34px;
    align-items: center; 
    box-shadow:  0 0 5px  #919191;
    border-radius: 14px;
    background-color: #ffffff; 
}
.table-header li {
    font-weight: 600;
    color: #3f3f3f;
}
.text-info-header p {
    color: #3b3131;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: -18px;
}
.subtitle{
    color: #1d1515;
    font-size: 2.5rem;
    font-weight: 600;

}
.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-info p {
    text-align: center;
    color: #3b3131;
    font-size: 1.4rem;
    font-weight: 300;
}