<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bem-vindo</title>
    </head>
    <body style="background-color:darkgrey;">
        <p>teste</p>
        <!-- <div class="card-body" style="background-color: whitesmoke;">
            <h2>Sistema de Eleições 2024</h2>
        </div>
        <div class="container mt-5">
            <div class="card"> -->
                <!-- <div class="card-body" style="background-color: whitesmoke;"> -->
                    <!-- <h2>Bem-vindo, <%= usuario %>!</h2>
                    <p>Tipo de usuário: <%= tipo %> -->
                    <!-- </p>
                    <a href="/fornecedores" class="btn btn-primary">Ver candidatos</a>
                    <a href="/fornecedores/filtro" class="btn btn-success">filtrar candidatos</a>
                    <a href="/fornecedores/cadastrar" class="btn btn-info">Cadastrar candidato</button></a>
                    <a href="/" class="btn btn-danger">Sair</a>
                </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </body>
</html>