<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Fornecedores</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
            <link rel="stylesheet" href="/css/style.css">

        </head>
        <body>
            <header class="header">
                <div class="header-value">
                   <!-- <button onclick="window.history.back()" class="button-left"> -->
                      <i onclick="window.history.back()" class="fa-solid text-light fa-chevron-left button-left"></i>
                   <!-- </button> -->
                   <div class="logo-conteiner">
                      <h2>Vota Aqui</h2>
                      <i class="fa-solid  fa-puzzle-piece"></i>
                   </div>
                </div>
             </header>
            <main>
                    <div class="container">
                        <form action="/eleitores/" method="POST">
                            <h2>Cadastrar Eleitor</h2>
                            <div class="rows-input">
                                <div>
                                    <label for="date">Nome do eleitor:</label><br>
                                    <input class="input is-link " type="text" id="data" name="nome" required>
                                </div>
                                <div>
                                    <label for="local">CPF:</label>
                                    <input class="input is-link " type="text" id="cpf" name="cpf" required>
                                </div>
                            </div>
                            <div class="rows-input">
                                <div>
                                    <label for="horaInicial">Endereço:</label>
                                    <input class="input is-link " type="text" id="horaInicial" name="endereco" required>
                                </div>
                                <div>
                                    <label for="horaFinal">Senha:</label>
                                    <input class="input is-link " type="text" id="horaFinal" name="senha" required>
                                </div>
                            </div>
                            <div class="conteiner-button">
                                <button class="button is-success" type="submit">Cadastrar</button>
                                <a class="button is-info" href="/">Cancelar</a>
                            </div>
                        </form>
                    </div>
            </main>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    document.getElementById('cpf').addEventListener('input', function (e) {
                        let value = e.target.value;
                        value = value.replace(/\D/g, ''); // Remove qualquer caractere que não seja número
                        value = value.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona um ponto após os primeiros 3 dígitos
                        value = value.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona um ponto após os próximos 3 dígitos
                        value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona um hífen antes dos últimos 2 dígitos
                        e.target.value = value;
                    });
                });
            </script>
        </body>
</html>